%script(src="https://js.stripe.com/v3/")
%section.register.container
  .row.justify-content-center
    .col-4
      = bootstrap_form_for @user, html: { class: "form-horizontal", id: "payment-form"} do |f|
        %header
          %h1 Register
        %fieldset
          = f.email_field :email, label: "Email Address"
          = f.password_field :password, label: "Password"
          = f.text_field :full_name, label: "Full Name"
          = hidden_field_tag :invitation_token, @invitation_token
        %fieldset.credit_card
          .form-group
            %label(for="card-element")
              Credit or debit card
            #card-element
              <!-- a Stripe Element will be inserted here. -->
            #card-errors(role="alert")           
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %button Submit Payment
= javascript_include_tag 'payments'
